{% extends 'fbLogin/base.html' %}

{% block content %}
{% if messages %}
{{ messages }}
{% endif %}
<form method="POST">
    {% csrf_token %}
<table>
    <tr>
      <td class="logintext">Email or Phone</td>
      <td class="logintext"><span class="loginrowgap">Password</span></td>
    </tr>
      <td><input class="logintext loginfield" name="user" type="text"></td>
      <td><input class="logintext loginrowgap loginfield" name="pwd" type="password"></td>
      <td><input class="loginrowgap" id="loginbutton" type="submit" value="Log In"></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="#" class="logintext loginrowgap" id="forgotpw">Forgotten account?</a></td>
    </tr>
  </table>
</form>
{% endblock %}